# === Аккаунт №1 (читающий чаты userbot) ===
API_ID_READER=32881178
API_HASH_READER=71c05f35a3d0e33e36420a1e8518581a
SESSION_READER=session_reader

# === Аккаунт №2 (получает дублирующие уведомления в личку) — понадобится в Части 5 ===
API_ID_NOTIFIER=123456
API_HASH_NOTIFIER=your_api_hash_here
SESSION_NOTIFIER=session_notifier
NOTIFIER_TARGET_USERNAME=your_second_account_username

# === Pushover ===
PUSHOVER_TOKEN=ao67tfbuqqp5n54htty1wxzb378wph
PUSHOVER_USER_KEY=ubbubioa38ghddyw2deyjomr4ontea
# Звук уведомления (список: https://pushover.net/api#sounds), для max приоритета
# рекомендую громкий/настойчивый, например persistent или alien
PUSHOVER_SOUND=persistent
# Как часто (в секундах) повторять звук/вибро, пока не подтвердишь. Минимум 30.
PUSHOVER_RETRY=30
# Через сколько секунд Pushover перестанет долбить, если не подтвердил. Максимум 10800 (3ч).
PUSHOVER_EXPIRE=1800

# === Список чатов, которые слушаем (через запятую, username или ID) ===
TARGET_CHATS=some_memecoin_chat,another_chat

# Путь к SQLite базе watchlist'а (Часть 2)
DB_PATH=watchlist.db
